@import '~antd/dist/antd.css';

/* GENERAL */
html, body, #root{
  width: 100vw;
  height: 100vh;
  font-family: 'NoirPro', sans-serif;
}

.general-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

.general-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.general-layout-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* LOGIN SCREEN */
.login-form-holder{
  /* margin-bottom: 200px; */
}

.login-header-text{
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
}

.logo-img{
  width: 200px;
  height: auto;
}

.btn-text{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px
}

/* ADMIN SCREEN */
.admin-header{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 28px 0px,
  rgba(41, 31, 31, 0.1) 0px 0px 4px 0px,
  rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.logo-header{
  width: 80px;
  height: auto
}

.user-name{
  font-size: 15px;
  font-weight: bold;
}

.user-role{
  font-size: 16px;
}
.text{
  font-size: 17px;
}

.card-add-account{
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 3%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.card-add-account .header-text{
  color: #535355;
  font-weight: 600;
  font-size: 17px
}

.add-account-form{
  font-family: 'NoirPro', sans-serif;
}

/* FACULTY SCREEN */
.btn-dropdown{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8DADF;
  border: 0px
}

.btn-profile{
  border: 0px;
  padding: 20px 5px 20px 0px;
}

.btn-logo{
  border: 0px;
  height: auto;
}

.btn-profile:hover {
  border: 0px;
  border-radius: 20px;
  padding: 20px 5px 20px 5px;
  background-color: #f2f3f8;
  color: black;
}

.header-avatar{
  background-color: #7952B3
}

.bg-newsfeed{
  background-color: #f5f5f5
}

.newsfeed-holder{
  width: 70vw;
}

/* MENU SIDEBAR */
.left-menu , .right-menu{
  width: 25vw;
  padding: 0px 30px;
}

.left-menu-name{
  font-size: 17px;
  font-weight: bold;
}

.btn-left-menu{
  border: 0px;
  padding: 25px 15px;
  width: 95%;
  background-color: #f5f5f5;
}

.btn-left-menu:hover{
  border-radius: 5px;
  background-color: #E4E6E9;
  color: black
}

.btn-left-menu-category{
  border: 0px;
  padding: 30px 15px;
  width: 95%;
  background-color: #f5f5f5;
}

.btn-left-menu-category:hover {
  border-radius: 5px;
  background-color: #E4E6E9;
  color: black
}



.header-text{
  font-size:18px;
  color: gray;
  font-weight: bold;
}